.chat-room {
  display: flex;
  height: 100vh;

  .side_bar {
    width: 202px;
    height: 100%;
    background-color: #f8f9fd;
    padding: 12px;

    .icon_text {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 16px;
      padding: 10px;
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        background-color: #e0e7ff;
      }

      &.active {
        background-color: #3d64fd;
        color: #ffffff;

        p,
        svg {
          color: #ffffff;
        }
      }
    }

    .logo_image {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-radius: 8px;
      border-bottom: 1px solid #ddd;

      .rows {
        display: flex;
        gap: 5px;

        .row_1 {
          display: flex;
          align-items: center;
          gap: 15px;

          p {
            color: #afb8cf;
            font-weight: bolder;
            font-size: 24px;
          }
        }

        .row_2 {
          display: flex;
          gap: 5px;
          align-items: center;

          span {
            color: #3d64fd;
          }

          p {
            color: #636363;
            font-weight: bold;
          }
        }
      }

      .search_container {
        display: flex;
        align-items: center;
        gap: 5px;
        position: relative;

        input {
          width: 100%;
          padding: 10px 40px;
          box-sizing: border-box;
          border-radius: 10px;
          background-color: #f9fbff;
          border: none;
        }

        .search-icon {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.2rem;
          color: #888;
        }
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      h2 {
        font-weight: bolder;
      }
    }

    .room {
      display: flex;
      flex: 1;
      height: calc(100% - 100px);
      overflow: hidden;

      .col_1 {
        width: 30%;
        min-height: 100%;
        overflow-y: auto;
        border-right: 1px solid #ddd;

        .inbox-messages {
          display: flex;
          align-items: center;
          width: 98%;
          padding: 20px;
          justify-content: space-between;
          border-bottom: 1px solid #ddd;
        }

        .chat-card {
          margin: 0;
          padding: 20px 0;
          width: 100%;
          border-bottom: 1px solid #ddd;

          .chat-card-header {
            display: flex;
            justify-content: space-between;

            .img_text {
              display: flex;
              align-items: center;
              gap: 16px;
              width: 95%;

              .chat-card-info {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;

                h5 {
                  font-weight: lighter;
                  color: #141418;
                }

                .icon_names {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  width: 95%;

                  .chat-card-icon {
                    font-size: 20px;
                    color: #3d64fd;
                  }
                }
              }

              .chat-card-image {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }

      .col_2 {
        // width: 70%;
        // min-height: 100%;
        // background-color: #fff;
        // display: flex;
        // flex-direction: column;
        // overflow-y: auto;

        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .header {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #ddd;

          .header_img_text {
            display: flex;
            align-items: center;
            padding: 15px;
            gap: 8px;
          }

          .header_icons {
            display: flex;
            gap: 24px;
            align-items: center;

            #star {
              font-size: 30px;
              color: #3d64fd;
              background-color: #d9d9d952;
              border-radius: 6px;
              padding: 3px;
            }

            #search {
              font-size: 30px;
              color: black;
              background-color: #d9d9d952;
              border-radius: 6px;
              padding: 3px;
            }

            #dots {
              font-size: 30px;
              color: black;
              background-color: #d9d9d952;
              border-radius: 6px;
              padding: 3px;
            }
          }
        }
        .sender_receiver {
          display: flex;
          flex-direction: column;
          max-height: 400px;

          .text {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            height: calc(100% - 80px);

            .message-bubble {
              position: absolute;
              right: 30px;
              top: 200px;
              background-color: #3d64fd;
              border-top-right-radius: 32px;
              border-top-left-radius: 32px;
              border-bottom-left-radius: 32px;
              padding: 10px 20px;
              max-width: 80%;
              word-wrap: break-word;
              overflow-wrap: break-word;
              margin: 5px;
              color: white;
            }
            &.user-message {
              align-self: flex-end;
              background-color: #3d64fd;
            }

            &.client-message {
              align-self: flex-start;
              background-color: #dce6ff;
            }

            &.employee-message {
              align-self: flex-start;
              background-color: #f0f0f0;
            }
          }

          .message {
            .hidden {
              display: none;
            }
          }

          p {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
          }
          //   .sender{

          //     .text_time{
          //       position: relative;

          //      #sender_message{
          //       position: absolute;
          //       left: 30px;
          //       width: 50%;
          //       background-color: #DCE6FF;
          //       border-top-right-radius: 32px;
          //       border-top-left-radius: 32px;
          //       border-bottom-right-radius: 32px;
          //       padding: 16px 24px 16px 24px;
          //      }
          //      #sender_time{
          //       position: absolute;
          //       left: 30px;
          //       top: 70px;
          //       font-size: 14px;
          //       color: #AFB8CF;
          //      }
          //      #reply_message{
          //       position: absolute;
          //       right: 30px;
          //       top: 100px;
          //       width: 50%;
          //       background-color: #3D64FD;
          //       border-top-right-radius: 32px;
          //       border-top-left-radius: 32px;
          //       border-bottom-left-radius: 32px;

          //      }
          //      #reply_time{
          //       position: absolute;
          //       top: 170px;
          //       right: 30px;
          //       font-size: 14px;
          //       color: #AFB8CF;

          //     }
          //   }

          // }
          // .reply{
          //   .text_time{
          //     position: relative;

          //     #text2{
          //       position: absolute;
          //       left: 30px;
          //       top: 200px;
          //       width: 50%;
          //       background-color: #DCE6FF;
          //       border-top-right-radius: 32px;
          //       border-top-left-radius: 32px;
          //       border-bottom-right-radius: 32px;
          //       padding: 16px 24px 16px 24px;
          //      }
          //      #time3{
          //       position: absolute;
          //       left: 30px;
          //       top: 270px;
          //       font-size: 14px;
          //       color: #AFB8CF;

          //      }
          //      #reply2{
          //       position: absolute;
          //       right: 30px;
          //       top: 300px;
          //       width: 50%;
          //       background-color: #3D64FD;
          //       border-top-right-radius: 32px;
          //       border-top-left-radius: 32px;
          //       border-bottom-left-radius: 32px;

          //      }
          //      #time4{
          //       position: absolute;
          //       top: 370px;
          //       right: 30px;
          //       font-size: 14px;
          //       color: #AFB8CF;

          //      }
          //   }
          // }
          .typing {
            position: relative;

            .space {
              position: absolute;
              bottom: -780px;
              background-color: #ffffff;
              padding: 20px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .text_icons {
                display: flex;
                gap: 10px;
                color: #888;
              }
              button {
                padding: 10px 20px;
                background-color: #3d64fd;
                color: white;
                border: none;
                border-radius: 15px;
                cursor: pointer;
              }

              input {
                border-radius: 20px;
                width: 70%;
                padding: 10px;
                border: 1px solid #ddd;
              }
            }
          }
        }
      }
    }
  }
}
