.chat-room {
  display: flex;
  height: 100vh;
}
.chat-room .side_bar {
  width: 202px;
  height: 100%;
  background-color: #f8f9fd;
  padding: 12px;
}
.chat-room .side_bar .icon_text {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}
.chat-room .side_bar .icon_text:hover {
  background-color: #e0e7ff;
}
.chat-room .side_bar .icon_text.active {
  background-color: #3d64fd;
  color: #ffffff;
}
.chat-room .side_bar .icon_text.active p,
.chat-room .side_bar .icon_text.active svg {
  color: #ffffff;
}
.chat-room .side_bar .logo_image {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.chat-room .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-room .column .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  border-bottom: 1px solid #ddd;
}
.chat-room .column .row .rows {
  display: flex;
  gap: 5px;
}
.chat-room .column .row .rows .row_1 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.chat-room .column .row .rows .row_1 p {
  color: #AFB8CF;
  font-weight: bolder;
  font-size: 24px;
}
.chat-room .column .row .rows .row_2 {
  display: flex;
  gap: 5px;
  align-items: center;
}
.chat-room .column .row .rows .row_2 span {
  color: #3D64FD;
}
.chat-room .column .row .rows .row_2 p {
  color: #636363;
  font-weight: bold;
}
.chat-room .column .row .search_container {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.chat-room .column .row .search_container input {
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #F9FBFF;
  border: none;
}
.chat-room .column .row .search_container .search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #888;
}
.chat-room .column .row .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chat-room .column .row h2 {
  font-weight: bolder;
}
.chat-room .column .room {
  display: flex;
  flex: 1;
  height: calc(100% - 100px);
  overflow: hidden;
}
.chat-room .column .room .col_1 {
  width: 30%;
  min-height: 100%;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}
.chat-room .column .room .col_1 .messages {
  display: flex;
  align-items: center;
  width: 98%;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.chat-room .column .room .col_1 .chat-card {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.chat-room .column .room .col_1 .chat-card .chat-card-header {
  display: flex;
  justify-content: space-between;
}
.chat-room .column .room .col_1 .chat-card .chat-card-header .img_text {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 95%;
}
.chat-room .column .room .col_1 .chat-card .chat-card-header .img_text .chat-card-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.chat-room .column .room .col_1 .chat-card .chat-card-header .img_text .chat-card-info h5 {
  font-weight: lighter;
  color: #141418;
}
.chat-room .column .room .col_1 .chat-card .chat-card-header .img_text .chat-card-info .icon_names {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.chat-room .column .room .col_1 .chat-card .chat-card-header .img_text .chat-card-info .icon_names .chat-card-icon {
  font-size: 20px;
  color: #3d64fd;
}
.chat-room .column .room .col_1 .chat-card .chat-card-header .img_text .chat-card-image {
  display: flex;
  flex-direction: column;
}
.chat-room .column .room .col_2 {
  width: 70%;
  min-height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: rgba(175, 184, 207, 0.1529411765);
}
.chat-room .column .room .col_2 .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.chat-room .column .room .col_2 .header .header_img_text {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 8px;
}
.chat-room .column .room .col_2 .header .header_icons {
  display: flex;
  gap: 24px;
  align-items: center;
}
.chat-room .column .room .col_2 .header .header_icons #star {
  font-size: 30px;
  color: #3D64FD;
  background-color: rgba(217, 217, 217, 0.3215686275);
  border-radius: 6px;
  padding: 3px;
}
.chat-room .column .room .col_2 .header .header_icons #search {
  font-size: 30px;
  color: black;
  background-color: rgba(217, 217, 217, 0.3215686275);
  border-radius: 6px;
  padding: 3px;
}
.chat-room .column .room .col_2 .header .header_icons #dots {
  font-size: 30px;
  color: black;
  background-color: rgba(217, 217, 217, 0.3215686275);
  border-radius: 6px;
  padding: 3px;
}
.chat-room .column .room .col_2 .messages p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.chat-room .column .room .col_2 .messages .sender .text_time {
  position: relative;
}
.chat-room .column .room .col_2 .messages .sender .text_time #sender_message {
  position: absolute;
  left: 30px;
  width: 50%;
  background-color: #DCE6FF;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 16px 24px 16px 24px;
}
.chat-room .column .room .col_2 .messages .sender .text_time #sender_time {
  position: absolute;
  left: 30px;
  top: 70px;
  font-size: 14px;
  color: #AFB8CF;
}
.chat-room .column .room .col_2 .messages .sender .text_time #reply_message {
  position: absolute;
  right: 30px;
  top: 100px;
  width: 50%;
  background-color: #3D64FD;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}
.chat-room .column .room .col_2 .messages .sender .text_time #reply_time {
  position: absolute;
  top: 170px;
  right: 30px;
  font-size: 14px;
  color: #AFB8CF;
}
.chat-room .column .room .col_2 .messages .reply .text_time {
  position: relative;
}
.chat-room .column .room .col_2 .messages .reply .text_time #text2 {
  position: absolute;
  left: 30px;
  top: 200px;
  width: 50%;
  background-color: #DCE6FF;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 16px 24px 16px 24px;
}
.chat-room .column .room .col_2 .messages .reply .text_time #time3 {
  position: absolute;
  left: 30px;
  top: 270px;
  font-size: 14px;
  color: #AFB8CF;
}
.chat-room .column .room .col_2 .messages .reply .text_time #reply2 {
  position: absolute;
  right: 30px;
  top: 300px;
  width: 50%;
  background-color: #3D64FD;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}
.chat-room .column .room .col_2 .messages .reply .text_time #time4 {
  position: absolute;
  top: 370px;
  right: 30px;
  font-size: 14px;
  color: #AFB8CF;
}
.chat-room .column .room .col_2 .messages .typing {
  position: relative;
}
.chat-room .column .room .col_2 .messages .typing .space {
  position: absolute;
  bottom: -780px;
  background-color: #FFFFFF;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-room .column .room .col_2 .messages .typing .space .text_icons {
  display: flex;
  gap: 10px;
}
.chat-room .column .room .col_2 .messages .typing .space input {
  border-radius: 15px;
  width: 40%;
  padding: 10px;
  border: none;
  background-color: #F8F9FD;
}/*# sourceMappingURL=chat.css.map */