.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    table {
        border: 1px solid #E2ECF980;
        padding: 30px;
        border-radius: 30px;
        width: 65%;
        height: 812px;


        .table-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;

            .search-bar {
                display: flex;
                align-items: center;
                position: relative;
              
                .input-container {
                  position: relative;
                  width: 100%;
                  padding: 10px;  // Add padding to the input container (optional)
                  
                  input {
                    width: 100%;
                    padding: 10px 40px 10px 40px; // Adjust padding for top, right, bottom, and left
                    box-sizing: border-box; // Ensures padding is included in the input's total width
                    border-radius: 10px;
                    background-color: #F9FBFF;
                    border: none;
                  }
                  
                  .search-icon {
                    position: absolute;
                    left: 10px;  // Position the icon inside the input
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 1.2rem;
                    color: #888;
                  }
                }
              }
              

        }

    }
}