.Dashboard {
    display: flex;
    gap: 40px;


    .col {




        .row {
            display: flex;
            flex-direction: column;
            gap: 50px;

            .row-1 {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                width: 1076px;
                height: 96px;
                align-items: center;
                background-color: #FFFFFF;

                width: 90vw;
                margin-left: -40px;
                margin-right: -40px;
                border-bottom: 1px solid#AFB8CF;

                .text-line {
                    display: flex;
                    gap: 12px;

                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                    }

                    span {
                        color: #3D64FD;
                    }
                }

                .img-text {
                    display: flex;
                    gap: 8px;

                    .text {
                        display: flex;
                        flex-direction: column;
                    }

                    .img {
                        img {
                            border-radius: 50%;
                        }
                    }
                }
            }

            .lower-section {
               padding-inline: 250px;

                .row-2 {

                    display: flex;
                    justify-content: space-between;
                    border-radius: 30px;
                    padding: 20px;
                    background-color: #FFFFFF;
                    border: 1px solid #F0F0F0;
                    height: 151px;
                    width: 95%;
                    box-shadow: 0px 4px 10px #E2ECF980;
                    .col {
                        display: flex;
                        gap: 8px;
                        justify-content: center;
                        align-items: center;

                        img{
                            width: 42px;
                        }

                       

                    }
                }
            }

        }
    }
}